:root {
  --bg-color: #252525;
  --bg-color-game: #353535;
  --bg-color-game: #2a2a2a;
  // --bg-color-game: rgba(81, 80, 83, 0.938);
  --accent-1: #d6eeff;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.4);

  --card-bg-color: #333333;
  --border-color: #3a3a3a;

  --primary-color: #d6eeff;
  --primary-hover-color: #6fb1fc;

  --accent-color: #ff6f61;

  --text-color: #f0f0f0;
  --text-secondary-color: #b0b0b0;
  --gradient-text: linear-gradient(94deg, #6fb1fc 27%, rgb(196, 35, 177) 70%);

  --shadow-color: rgba(0, 0, 0, 0.5);

  --cell: rgb(19, 131, 191);
  --empty-cell: rgb(18, 117, 171);
  --succes-cell: #4caf50;
  --selected-cell: rgb(14, 92, 135);
  --error-cell: #ff6f61;
}

.light-mode {
  --bg-color: #d2d2d2;
  --bg-color-game: #cfcfcf;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  font-size: 62.5%;

  @media (max-width: 68.75em) {
    font-size: 58.5%;
  }
  @media (max-width: 43.75em) {
    font-size: 50%;
  }
  @media (max-width: 33.75em) {
    font-size: 42%;
  }
  @media (max-width: 23.75em) {
    font-size: 40%;
  }
}

body {
  min-height: 100dvh;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;

  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 5rem 3rem;
}

body:has(.popup--open) {
  overflow: hidden;
}

ul {
  list-style: none;
}

button,
input,
textarea,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

button {
  touch-action: manipulation;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  margin: 0 auto;
  max-width: 130rem;
  padding: 3rem;
  min-height: 100%;
  box-shadow: 0 0 4rem rgba(125, 20, 205, 0.09);
  border-radius: 0.8rem;
  min-height: calc(100dvh - 10rem);
  border: 1px solid rgba(255, 255, 255, 0.2);
  &:has(.game) {
    background-color: var(--bg-color-game);
  }
}

.title {
  text-align: center;
  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 3.6rem;
}

.bg-layer {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: #1f1f1f;
  overflow: hidden;
}

.bg-grid {
  position: absolute;
  width: 200%;
  height: 200%;
  background-image: linear-gradient(
      transparent 98%,
      rgba(214, 238, 255, 0.05) 2%
    ),
    linear-gradient(90deg, transparent 98%, rgba(214, 238, 255, 0.05) 2%);
  background-size: 80px 80px;
  animation: gridMove 30s linear infinite;
  opacity: 0.25;
}

@keyframes gridMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-80px, -80px);
  }
}
