.game {
  width: 100%;

  &__field {
    background-color: rgba(81, 80, 83, 0.938);
    width: 65%;
  }

  &__title-mode {
    text-align: center;
    font-size: 2.6rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0.5rem;
    padding: 2rem;
  }

  &__cell {
    user-select: none;
    cursor: pointer;
    // width: 5rem;
    // height: 5rem;
    // padding: 2rem;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;

    background-color: rgb(19, 131, 191);
    transition: all 0.16s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: rgb(19, 157, 231);
      }
    }

    &:active {
      scale: 0.95;
    }

    &--selected {
      background-color: var(--selected-cell);
    }

    &--empty {
      background-color: var(--empty-cell);
      pointer-events: none;
    }

    &--success {
      background-color: var(--succes-cell);
      transition: background-color 0.4s ease, color 0.3s ease;
      animation: fadeOut 0.4s ease forwards;
      animation-delay: 0.45s;
    }

    &--error {
      background-color: #f44336;
      color: white;
      transition: all 0.05s;
      animation: shake 0.5s ease;
    }
  }
}

@keyframes fadeOut {
  from {
    background-color: var(--succes-cell);
  }
  to {
    background-color: var(--empty-cell);
    color: transparent;
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-2px);
  }
  30% {
    transform: translateX(2px);
  }
  45% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-1px);
  }
  90% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
