.game {
  position: relative;
  width: 100%;
  display: flex;
  gap: 2rem;
  height: calc(100dvh - 16rem);

  @media (max-width: 62.5em) {
    flex-direction: column;
  }

  &__interface {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    overflow-y: auto;
    padding-right: 1rem;
    align-content: end;
    width: 35%;

    @media (max-width: 62.5em) {
      // flex-direction: row;
      width: 100%;
      gap: 2.5rem;
      height: auto;
      overflow-y: visible;
    }

    &-title {
      font-size: 2.1rem;
      text-align: end;
      margin-bottom: 2rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.08);

      @media (max-width: 62.5em) {
        display: none;
      }
    }

    &::-webkit-scrollbar {
      width: 1rem;
    }

    &::-webkit-scrollbar-track {
      background: #2a2a2a;
      border-radius: 0.2rem;
      transition: background 0.3s ease;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #6fb1fc;
      border-radius: 0.2rem;

      background: rgba(111, 177, 252, 0.3);
      backdrop-filter: blur(10px);

      &:hover {
        background: rgba(111, 177, 252, 0.5);
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__assists,
  &__controls-btns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
    justify-items: end;

    gap: 1.5rem;

    & .game__btn {
      width: 100%;
    }

    @media (max-width: 62.5em) {
      display: flex;
      width: 100%;
    }
    // border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }

  &__field {
    // background-color: rgba(81, 80, 83, 0.938);
    width: 65%;
    overflow-y: auto;

    @media (max-width: 62.5em) {
      width: 100%;
      order: 2;
    }

    &::-webkit-scrollbar {
      width: 1rem;
    }

    &::-webkit-scrollbar-track {
      background: #2a2a2a;
      border-radius: 0.2rem;
      transition: background 0.3s ease;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #6fb1fc;
      border-radius: 0.2rem;

      background: rgba(111, 177, 252, 0.3);
      backdrop-filter: blur(10px);

      &:hover {
        background: rgba(111, 177, 252, 0.5);
      }
    }
  }

  &__title-mode {
    text-align: center;
    font-size: 2.6rem;
    background: linear-gradient(94deg, #6fb1fc 27%, rgb(255, 254, 255) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    @media (max-width: 62.5em) {
      display: none;
    }
  }

  &__grid {
    background-color: var(--grid-bg);
    border-radius: 0.45rem;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(9, 1fr);
    gap: 0.5rem;
    padding: 2rem;
    min-height: 85%;
    grid-auto-rows: min-content;
    // border: 1px solid rgba(255, 255, 255, 0.17);
  }

  &__cell {
    user-select: none;
    cursor: pointer;
    // width: 5rem;
    // height: 5rem;
    // padding: 2rem;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    border-radius: 0.15rem;
    background-color: var(--cell);
    transition: background-color 0.16s;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.08);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: rgb(19, 157, 231);
        // scale: 1.01;
      }
    }

    &:active {
      scale: 0.95;
    }

    &--selected {
      background-color: var(--selected-cell);
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--selected-cell);
          filter: brightness(1.1);
        }
      }
    }

    &--empty {
      background-color: var(--empty-cell);
      pointer-events: none;
    }

    &--success {
      background-color: var(--succes-cell);
      transition: background-color 0.4s ease, color 0.3s ease;
      animation: fadeOut 0.4s ease forwards;
      animation-delay: 0.45s;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--succes-cell);
        }
      }
    }

    &--error {
      background-color: var(--error-cell);
      color: white;
      transition: all 0.05s;
      animation: shake 0.5s ease;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--error-cell);
        }
      }
    }
  }

  &__btn {
    padding: 0.5rem 0.5rem;
    display: grid;
    place-items: center;
    font-family: inherit;
    font-size: 1.7rem;
    // width: 100%;
    width: 13rem;
    min-height: 5rem;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: #f0f0f0;
    cursor: pointer;
    transition: all 0.2s;

    @media (hover: hover) and (pointer: fine) {
      &:hover:not(:disabled) {
        background: rgba(255, 255, 255, 0.15);
        border-color: rgba(255, 255, 255, 0.3);
      }
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
  &__btn-close {
    cursor: pointer;
    position: absolute;
    font-size: 2.2rem;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    border-radius: 50%;
    top: -6.4rem;
    right: -6.3rem;
    border: none;
    color: #f0f0f0;
    background: transparent;
    opacity: 0.8;
    transform: rotate(0deg);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
      opacity 0.2s ease;
    perspective: 600px;
    transform-origin: center center;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        // color: var(--primary-hover-color);
        opacity: 1;
        transform: rotate(90deg);
      }
    }
  }
  &__score {
    font-weight: 600;
    font-size: 2.6rem;
  }
  &__timer {
    font-size: 2.4rem;
    font-weight: 300;
  }

  &__hint {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.08);

    @media (max-width: 62.5em) {
      /* position: absolute;
      left: 50%;
      transform: translate(-50%); */
      order: 4;
    }
  }
}

.notification {
  position: fixed;
  top: -100px;
  right: 2rem;
  z-index: 9999;

  padding: 1.5rem 2rem;
  min-width: 25rem;

  // background: rgba(42, 42, 42, 0.95);
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);

  color: #f0f0f0;
  font-size: 1.6rem;
  font-weight: 500;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border-left: 4px solid var(--succes-cell);
  transition: all 0.3s ease;

  &--show {
    top: 2rem;
  }
}

@keyframes fadeOut {
  from {
    background-color: var(--succes-cell);
  }
  to {
    background-color: var(--empty-cell);
    color: transparent;
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-2px);
  }
  30% {
    transform: translateX(2px);
  }
  45% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-1px);
  }
  90% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
