.settings {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 40rem;
  font-size: 2rem;
  &__section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__title {
  }
  &__setting {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__volume {
    margin-top: 1.6rem;
  }
}

.volume-slider {
  cursor: pointer;
  width: 73%;
  transition: all 0.2s ease;
}

.volume-slider::-webkit-slider-thumb {
  transition: all 0.2s ease;
}

.volume-slider::-moz-range-thumb {
  transition: all 0.2s ease;
}
