.settings {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 40rem;
  font-size: 2rem;
  &__section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__title {
  }
  &__setting {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
